

.members_container{
    position: relative;
    border: 2px solid white;
    height: 340px;
    width: 340px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.members_container img{
    position: absolute;
    top: 55px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: gray;
    
}

.member_details {
    position: relative;
    top:250px;
    text-align: center;
    margin-bottom: 10px;

}


.social_media{
    position: relative;
    top: 46px;
    color: gray;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.social_media:hover{
    background-color: blue;
    color: #fff;
    border: none;
    transition: 0.5s linear;
}

