.recent_project h1 {
  padding-top: 50px;
}

.form_bg_color {
  padding: 50px;
  background-image: url("../../asserts/wave.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(10, 145, 255, 0.103);
  overflow: hidden;
}

.form_bg_color h1 {
  margin-top: 20vh;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: bold;
}

.form_bg_color p {
  color: grey;
  line-height: 1.5;
  font-size: 18px;
}

.form_container {
  margin-top: 15vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.2);
}

.form_container .form_content {
  padding: 35px 20px;
}

@media screen and (max-width: 992px){
  .form_bg_color{
    height: 1200px;
  }
}









/* FAQ style*/
.faq_container {
  background-color: #fff;
  overflow: hidden;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 50px;
  transition: .3s ease-in;
  margin-bottom: 50px;
}

.faq_content{
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
 
}
.accordion__button{
    outline: none !important;
    font-size: 18px;
    font-weight: 600;
    background-color:#f5f9ff;
}

.accordion__button:hover{
  background-color: blue;
  color: white;
  transition: .3s ease-in;
}
.accordion-content{
  color: grey;
}


/* Footer_style */

.footer_bg{
  height: 90vh;
  background-image: url('../../asserts/wave.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  
}
.footer{
  padding-top: 50px;
  height: 90vh;
 
}

.footer h2{
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 40px;
}

.footer .custome_form{
  display: flex;
  justify-content: center;
}
.footer .custom_btn{
  border: none !important;
}

.footer p{
  color: grey;
  margin-bottom: 50px;
}

.footer .logo{
  color: grey;
  font-weight: 600;
  font-size: 35px;
  margin: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.footer .link{
  text-decoration: none;
}

.footer h3{
  font-size: 1.25rem;
}

.footer .social_media{
  color: gray;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 30px;

}

.footer .social_media:hover{
  background-color: blue;
  color: #fff;
  border: none;
  transition: 0.3s ease-out;
}
.footer h5{
  line-height: 12vh;
}


@media screen and (max-width: 992px){
  .footer .custome_form{
    display: block;
    justify-content: center;
    font-size: 20px;
    
  }
  .footer .form_input{
    border-radius: 15px;
  }

  .footer .custom_btn{
    width: 100% !important;
    margin-top: 20px;
    border-radius: 15px !important;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.1);
    outline: none !important;
    border: none;
  }
}


