.recent_project h1 {
  padding-top: 50px;
}

.form_bg_color {
  height: 100vh;
  background-image: url("../../../asserts/wave.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(10, 145, 255, 0.103);
  padding-bottom: 20px;
}

.form_bg_color h1 {
  margin-top: 20vh;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: bold;
}

.form_bg_color p {
  color: grey;
  line-height: 1.5;
  font-size: 18px;
}
